ul.tab-menu {
  margin: 0;
  padding: 0;
}
ul.tab-menu li {
  background-color: whitesmoke;
  margin-bottom: 5px;
}
ul.tab-menu li a {
  font-size: 16px;
  padding: 10px 25px;
  font-weight: bold;
  border-bottom: 2px solid transparent;
}
ul.tab-menu li a:hover, ul.tab-menu li a.active {
  color: #b87633;
  background-color: #faf4ed;
  border-bottom: 2px solid #b87633;
}

.tab-content.active {
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.tab-content {
  opacity: 0;
  visibility: hidden;
  height: 0;
  display: none;
}
.tab-content.active {
  opacity: 1;
  visibility: visible;
  height: auto;
  display: block;
}

.tab-menu li {
  display: inline-block;
}
.tab-menu li a {
  display: block;
}